In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVC
from sklearn import metrics
from sklearn import preprocessing
from sklearn import svm

In [2]:
pwd

'D:\\12\\ML Thesis\\November'

In [3]:
crop_df = pd.read_csv("D:\\12\\ML Thesis\\November\\Dataset_N.csv")
crop_df

,Area,Year,Item,Area Harvested,Production,Yield
0,Bangladesh,1961,Areca nuts,82600,62995,7627
1,Bangladesh,1961,Bananas,33600,446000,132738
2,Bangladesh,1961,Barley,29947,17272,5768
3,Bangladesh,1961,"Bastfibres, others",30900,34350,11117
4,Bangladesh,1961,"Beans, dry",68798,49784,7236
...,...,...,...,...,...,...
3180,Bangladesh,2019,Tomatoes,28205,387653,137441
3181,Bangladesh,2019,"Vegetables, fresh nes",227884,2034364,89272
3182,Bangladesh,2019,Wheat,330348,30780,1016811
3183,Bangladesh,2019,Roots and Tubers,491409,9890963,201278
3184,Bangladesh,2019,Vegetables Primary,651132,6300864,96768

In [4]:
crop_df=crop_df.drop('Area', axis=1)
crop_df=crop_df.drop('Year', axis=1)
crop_df=crop_df.drop('Item', axis=1)

crop_df

      Area Harvested  Production    Yield
0              82600       62995     7627
1              33600      446000   132738
2              29947       17272     5768
3              30900       34350    11117
4              68798       49784     7236
...              ...         ...      ...
3180           28205      387653   137441
3181          227884     2034364    89272
3182          330348       30780  1016811
3183          491409     9890963   201278
3184          651132     6300864    96768

[3185 rows x 3 columns]

In [5]:
crop_df.keys()

Index(['Area Harvested', 'Production', 'Yield'], dtype='object')

In [6]:
crop_df['Area Harvested'] = pd.to_numeric(crop_df['Area Harvested'],errors = 'coerce')
crop_df['Production'] = pd.to_numeric(crop_df['Production'],errors = 'coerce')
crop_df['Yield'] = pd.to_numeric(crop_df['Yield'],errors = 'coerce')

In [7]:
crop_df.dtypes

Area Harvested    int64
Production        int64
Yield             int64
dtype: object

In [8]:
crop_df.head()

   Area Harvested  Production   Yield
0           82600       62995    7627
1           33600      446000  132738
2           29947       17272    5768
3           30900       34350   11117
4           68798       49784    7236

In [9]:
crop_df.shape

(3185, 3)

In [10]:
X = crop_df.iloc[:, 0:-1].values
y = crop_df.iloc[:, -1].values

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.3, random_state=42)

print('Shape of X train = ', X_train.shape)
print('Shape of y train = ', y_train.shape)
print('Shape of X test = ', X_test.shape)
print('Shape of y test = ', y_test.shape)

Shape of X train =  (2229, 2)
Shape of y train =  (2229,)
Shape of X test =  (956, 2)
Shape of y test =  (956,)

In [ ]:
from sklearn import svm
classifier = svm.SVC(kernel='poly',gamma='auto',C=2)
classifier.fit(X_train,y_train)

y_predict = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_predict))